body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f7f6;
    padding-top: 70px;
}

h2 {
    color: black;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.navbar {
    background-color: #001F3F !important;
}

.card {
    background-color: white;
    border-radius: 12px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card h6 {
    color: #666;
    font-size: 0.8 rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card h3 {
    color: #333;
    font-weight: bold;
}

.table-dark {
    background-color: #001F3F !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin: auto;
}

th {
    background-color: #001F3F !important;
    color: white !important;
    border: none !important;
    padding: 8px;
    text-align: center;
}

td {
    border: 1px solid whitesmoke;
    padding: 4px;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 96%;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    display: center;
    gap: 15px;
    margin: 10px 0;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: auto;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}